# Python-related files
*.pyc
*.pyo
*.pyd
__pycache__/
*.sqlite3

# Virtual environment
venv/
env/
ENV/
*.env

# Django files
db.sqlite3
/static/
*.log

# IDE and editor files
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db

# Deployment files
*.bak
*.orig
